.cabecalho {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(198, 94, 214);
    padding: 50px;
    align-items: stretch;
}

.cabecalho img {
    max-width: 250px;
    display: block;
}

.cabecalho h1 {
    font-size: 100px;
}